@inject UserManager<ApplicationUser> userManager
@model smartpalika.Models.EditUserVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12 col-md-7 pb-4">
        <div class="card mx-2 mb-3 border-0 rounded rounded-3 box_shadow">
            <div class="pl-4 pr-4 pt-2 d-flex justify-content-between">
                <span class="text-muted">Profile</span>
                <div class="dropdown ">
                    <a class="f_m d-block dots px-2  rounded-3 rounded" role="button" href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><small><i class="fas fa-grip-vertical"></i></small></a>


                    <div class="dropdown-menu box_shadow  dropdown-menu-right text-left" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Account" asp-action="EditUser"><i class="fas fa-user-edit mr-1 text-muted"></i>Edit</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="DeleteUser"><i class="fas fa-trash-alt mr-2 text-muted"></i>Delete</a>
                        <form method="post" asp-action="Logout" asp-controller="Account">
                            <button class="dropdown-item" type="submit"><i class="fas fa-sign-out-alt text-muted mr-2"></i>Logout</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body pb-4">


                <div class="d-flex justify-content-start flex-wrap">
                    <div class="profile mr-4 ">
                        @if (Model.ProfileImage != null)
                        {
                            var base64 = Convert.ToBase64String(Model.ProfileImage);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


                            <img src="@imgSrc" style="object-fit:cover;width:145px;height:145px" />
                        }
                        else
                        {
                            <img src="https://t3.ftcdn.net/jpg/01/18/01/98/360_F_118019822_6CKXP6rXmVhDOzbXZlLqEM2ya4HhYzSV.jpg" />
                        }

                    </div>
                    <div class="mr-4">
                        <span class="text-muted">User Details</span>

                        <div class="row">
                            <div class="col d-none d-sm-block">
                                <span class="d-block">Name</span>
                                <span class="d-block">Address</span>
                                <span class="d-block">Email</span>
                                <span class="d-block">Phone</span>
                                <span class="d-block">Role</span>
                            </div>
                            <div class="col">
                                <span class="text-muted text-left d-block">@Model.FullName</span>
                                <span class="text-muted text-left d-block">@Model.Address</span>
                                <span class="text-muted text-left d-block">@Model.Email</span>
                                <span class="text-muted text-left d-block">@Model.PhoneNumber</span>

                                <span class="text-muted text-left d-block">
                                    @{
                                        var user = await userManager.FindByEmailAsync(Model.Email);
                                        var role_list = await userManager.GetRolesAsync(user);

                                        @if (role_list != null)
                                        {
                                            @foreach (var role in role_list)
                                            {
                                                <span class="text-muted text-left ">@role</span>
                                            }

                                        }
                                        else
                                        {
                                            <span class="text-muted text-left">User</span>
                                        }
                                    }
                                </span>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--New Profile-->