@model IEnumerable<smartpalika.Models.AppointmentUserDetails>
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Home Page";
}



@if (TempData["message"] != null && TempData["message"].ToString().Contains("Sucess"))
{
    <div class="alert alert-success" role="alert">
        @TempData["message"];

    </div>
}
else if(TempData["message"]!=null && TempData["message"].ToString().Contains("Cancel"))
{
<div class="alert alert-danger" role="alert">
    @TempData["message"];

</div>
}

<div class="container mx-auto" style="">
    @if (!User.Identity.IsAuthenticated)
    {

        <div class="container " style="max-width: 1024px;margin-left:15%">
            <div class="row">
                <div class="col-6 row justify-content-end align-items-center" style="height: 90vh;">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner pr-0 p-4 ">
                            <div class="carousel-item active pr-0 p-4">
                                <img src="~/images/book.svg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item pr-0 p-4">
                                <img src="~/images/online.svg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item pr-0 p-4">
                                <img src="~/images/os.svg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 row align-items-center justify-content-start" style="height: 90vh;">
                    <div class="mb-4 pb-4">
                        <h1 style="color: #5e60ce;">E-Nagarik Sewa</h1>
                        <p>
                            Make a quick Appointment for public service on E-Nagarik Sewa.
                        </p>
                        <a class="btn text-light " style="background: #5e60ce;" asp-controller="Account" asp-action="Register">Register</a><br>
                        <span class="mt-1 d-block"> <a class="text-muted " asp-controller="Account" asp-action="Login">Already a user? Sign in</a></span>
                    </div>

                </div>
            </div>
        </div>

    }
</div>

<!-- Appointment list part-->
@if (Model != null && Model.Count() > 0)
{
    
<div class="container">
    <h5>Proceed to office only if you get a confirmation mail to avoid hassle.</h5>
    <table class="table table-striped mt-4 bg_white box_shadow rounded rounded-2">
        <thead>
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Service</th>
                <th scope="col">Service Provider</th>
                <th scope="col">Time Slot</th>
                <th scope="col">Phone</th>
                <th scope="col">Availability</th>
                <th scope="col">Action</th>
                @*<th scope="col">Status</th>*@
                @*<th scope="col">Provider Role</th>*@

            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.ServiceType</td>
                    <td>@obj.Provider</td>
                    <td>@obj.Time</td>
                    <td>@obj.Phone</td>

                    @if (obj.isAvailable == true)
                    {
                        <td><i class="fa fa-check" style="font-size:24px"></i></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td><a class="text-danger" asp-controller="Appointment" asp-action="Delete_Confirm" asp-route-id="@obj.ID"><i class="fa fa-lg fa-trash"></i></a>&nbsp;<a type="button" asp-action="Detail" class="btn btn-outline-primary" asp-route-id="@obj.ID">Detail</a></td>

                    @*<td>Waiting</td>*@
                    @*<td>Vital Registration</td>*@
                </tr>
            }

        </tbody>
    </table>
</div>
}
else if (User.Identity.IsAuthenticated)
{

    <h4>No appointments today</h4>
}

