@if (ViewBag.app_list.Count==0)
{
    <h3>No Officers available to provide service. Please try after 10:15 AM</h3>
}
else
{
@foreach (var officer in ViewBag.app_list)
{
    <div class="container">


       

    </div>



    <div class="row">
        <div class="bg_white shadow mt-4 p-4 col-7">
            <h4>Available Time for Vital Registration <small>by @officer.OfficerName</small></h4>
           
            @foreach (var str in officer.Available_Time)
            {

        <div class=" row">
           
            
            <a type="button" asp-controller="Appointment" asp-action="SetAppointment" asp-route-obj="@Model" asp-route-time="@str" asp-route-officer="@officer.OfficerName" class="time_slot btn btn-secondary col m-2">@str</a>
        </div>
            }
            @*<div class=" row">
                    <div type="button" class="time_slot btn btn-secondary col m-2" data-toggle="modal" data-target="#exampleModal">10:00 AM</div>
                    <div type="button" class="time_slot btn btn-secondary col m-2" data-toggle="modal" data-target="#exampleModal">11:00 AM</div>
                    <div type="button" class="time_slot btn btn-secondary col m-2" data-toggle="modal" data-target="#exampleModal">12:00 PM</div>
                    <div type="button" class="time_slot btn btn-secondary col m-2" data-toggle="modal" data-target="#exampleModal">1:00 PM</div>
                    <div type="button" class="time_slot btn btn-secondary col m-2" data-toggle="modal" data-target="#exampleModal">2:00 PM</div>
                    <div type="button" class="time_slot btn btn-secondary col m-2" data-toggle="modal" data-target="#exampleModal">3:00 PM</div>
                    <div type="button" class="time_slot btn btn-secondary col m-2" data-toggle="modal" data-target="#exampleModal">4:00 PM</div>
                    <div type="button" class="time_slot btn btn-secondary col m-2" data-toggle="modal" data-target="#exampleModal">1:00 PM</div>

                </div>*@
            <div class="col-5"></div>
        </div>

    </div>


}}